{% extends 'blog/base.html'%}
{% block content %}
   <h1>You are successfully logged out </h1>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'login'%}">Sign In</a>
            </small>
        </div>


{% endblock content %}
