{% extends 'blog/base.html' %}
{% block content %}
     <h1>{{ name.id }}</h1>
     <h1>{{ name.username }}</h1>
     <a  href="{% url 'book-ticket' %}">Book ticket</a><br>
     <a  href="{% url 'booked-ticket-activity' %}">View Booked Activity</a>


{% endblock content%}
